{% extends "base.html" %}

{% block content %}
   <section class="hero">
      <div class="hero__bg">
         <div class="hero__inner">
            <h1 class="hero__title title-font"><strong>Liam Hall</strong></h1>
            <h1 class="hero__tagline"><strong>Full Stack Developer</strong></h1>
            <ul class="hero__list list-unstyled ">
               <li>
                  <a class="cta cta--hero" href="#projects">Projects</a>
               </li>
               <li>
                  <a class="cta cta--hero" href="#about">About</a>
               </li>
               <li>
                  <a class="cta cta--hero" href="./static/documents/cv_liam_d_hall.pdf" target="_blank" rel="noopener noreferrer">CV</a>
               </li>
               <li>
                  <a class="cta cta--hero" href="#contact">Contact</a>
               </li>
            </ul>
         </div>
      </div>
   </section>

   <!--About-->
   <a id="about" class="section-link"></a>
   <section class="about py-5">
      <h2 class="title title--about title-font mb-5">It's All About Me</h2>
      <div class="about__container row">
         <div class="col-lg-6 col-12">
            <div class="about__text">
               <h3>Hi I'm Liam</h3>                  
               <h3>I am a Full Stack Developer based in the UK with a background in the design.</h3>
               <p>
                  Over the last year I have learnt how to bring my imagination to the web.
                  I love creating eye catching application with UIs users can easily navigate.
               </p>
               <p>
                  I got into coding because I hated the limitions of Shopify themes and how little you could change.
                  I am very much of the idea that if you can imagine something, it can be created! So I started taking a look under the
                  hood and tinkering with what I could find. I learnt a lot about HTML and CSS but I really got into the nit and git when I
                  enrolled in the <strong>Code Institute's Full Stack Software Development Diploma</strong> where I created E-commerce, Games, Web Applications and Sites.
               </p>
               <p>
                  One of my many reasons for getting into coding was for the problem solving. 
                  I love a challenge and coding provides an endless varity.
               </p>
               <p>
                  In my free time I enjoy snowboarding and I'm quite the avid baker.   
               </p>
               <a class="cta cta--navy" href="#contact">Work With Me</a>
            </div>
         </div>
         <div class="col-lg-6 col-12 about__img-container">
            <img class="about__img" src="static/images/work _desk.svg" alt="work desk">
         </div>
      </div>
   </section>
   
   <!--Projects-->
   <a id="projects" class="section-link"></a>
   <section class="projects py-5">
      <h2 class="title title--projects title-font">Projects</h2>
      <p class="text-center">Sites and apps I have created.</p>

      {% for project in projects %}
         <!--{{ project.name|upper }}-->
         <div class="row">
            <div class="col-12 col-lg-8 {% if loop.index % 2 == 0 %}project-order{% endif %}">
               <h3 class="project__title title-font font-weight-bold d-inline-block">{{ project.name|capitalize }} {{loop.counter}}</h3>
               <div class="card">
                  <p class="mb-0">
                     {{ project.overview|safe }}
                  </p>
               </div>
               <ul class="projects__list title-font font-weight-bold">
                  <li>
                     <button class="cta project-tab-btn active" value="features">Features</button>
                  </li>
                  <li>
                     <button class="cta project-tab-btn" value="languages">Languages</button>
                  </li>
                  <li>
                     <button class="cta project-tab-btn" value="framework">Framework & Libraries</button>
                  </li>
                  {% if project.database %}
                     <li>
                        <button class="cta project-tab-btn" value="database">Database</button>
                     </li>
                  {% endif %}
               </ul>
               <hr class="projects__line mt-0">
               <div class="features project-tab">
                  <ul>
                     {% for feature in project.features %}
                     <li>
                        {{ feature }}
                     </li>
                     {% endfor %}
                  </ul>
               </div>
               <div class="languages project-tab d-none">
                  <ul class="list-unstyled">
                     {% if 'python' in project.languages|lower %}
                        <li>
                           <i class="fab fa-python mr-3"></i>Python
                        </li>
                     {% endif %}
                     {% if 'javascript' in project.languages|lower %}
                        <li>
                           <i class="fab fa-js mr-3"></i>JavaScript 
                        </li>
                     {% endif %}
                     {% if 'html' in project.languages|lower %}
                     <li>
                        <i class="fab fa-html5 mr-3"></i>HTML 
                     </li>
                     {% endif %}
                     {% if 'css' in project.languages|lower %}
                     <li>
                        <i class="fab fa-css3-alt mr-3"></i>CSS
                     </li>
                     {% endif %}
                  </ul>
               </div>
               <div class="framework project-tab d-none">
                  <ul class="list-unstyled">
                     {% if project.framework_libraries.frame %}
                        <li>
                           <strong class="mr-3">Frame:</strong>{{ project.framework_libraries.frame|title }}
                        </li>
                     {% endif %}
                     {% if project.framework_libraries.js %}
                        <li>
                           <strong class="mr-3">JS:</strong>{{ project.framework_libraries.js }}
                        </li>
                     {% endif %}
                     {% if project.framework_libraries.js %}
                        <li>
                           <strong class="mr-3">CSS:</strong>{{ project.framework_libraries.css|title }}
                        </li>
                     {% endif %}
                  </ul>
               </div>
               {% if project.database %}
                  <div class="database project-tab d-none">
                     <ul class="list-unstyled">
                        {% if project.database.sql %}
                           <li>
                              <strong class="mr-3">SQL:</strong>{{ project.database.sql }}
                           </li>
                        {% endif %}
                        {% if project.database.nosql %}
                           <li>
                              <strong class="mr-3">NoSQL:</strong>{{ project.database.nosql }}
                           </li>
                        {% endif %}
                        {% if project.database.cloud_storage %}
                           <li>
                              <strong class="mr-3">Cloud Storage:</strong>{{ project.database.cloud_storage }}
                           </li>
                        {% endif %}
                     </ul>
                  </div>
               {% endif %}
               <hr>
               <a class="project__cta cta cta--orange mb-2" href="{{ project.link }}" target="_blank">
                  View Site <i class="fas fa-external-link-alt"></i>
               </a>
               <a class="project__cta cta cta--github mb-2" href="{{ project.github }}" target="_blank">
                  <i class="fab fa-github"></i> Github
               </a>
            </div>
            <div class="projects__image col-12 col-lg-4">
               <a href="{{ project.link }}" target="_blank">
                  <img class="card-img" src="static/images/{{ project.name|lower }}_desktop_low_res.jpg">
                  <div class="projects__image-tab"></div>
                  <i class="projects__tab-text fas fa-external-link-alt"></i>
                  <div class="projects__img-overlay d-none text-center">
                     <div>
                        Open Project<br>In New Tab
                     </div>
                  </div>
               </a>
            </div>
         </div>
      {% endfor %}
   </section>

   <!--Contact-->
   <a id="contact" class="section-link"></a>
   <section class="contact py-5">
      <h2 class="title title-contact title-font">Contact</h2>
      <p class="text-center">Let Build Something Great, Togther!</p>
      <p class="text-center">To discuss working together please fill in the form below.</p>
      <p class="text-center">All fields with a <span class="highlight">*</span> are required.</p>
      <div class="row">
         <div class="col-12">
            <form id="contact-form" action="{{ url_for('home') }}" method="POST">
               <div class="form__row row">
                  <div class="form__divider col-12 col-lg-6">
                     <label for="first-name" class="form__label">First Name <span class="highlight">*</span></label>
                     <input type="text" name="first-name" class="form__input" id="first-name" placeholder="First Name" maxlength="25" required>
                  </div>
                  <div class="form__divider form__divider--right col-12 col-lg-6">
                     <label for="last-name" class="form__label">Last Name <span class="highlight">*</span></label>
                     <input type="text" name="last-name" class="form__input" id="last-name" placeholder="Last Name" maxlength="25" required>
                  </div>
                  <div class="col-12">
                     <label for="company-name" class="form__label">Company</label>
                     <input type="text" name="company-name" class="form__input" id="company-name" placeholder="Company Name" maxlength="25">
                  </div>
                  <div class="form__section col-12">
                     <label for="email" class="form__label">Email Address <span class="highlight">*</span></label>
                     <input type="email" name="email" class="form__input" id="review-email" placeholder="Type your email addreess here." required>

                     <label for="message" class="form__label">Message <span class="highlight">*</span> <span class="form-input-info">Max 500 charaters. </span></label>
                     <textarea name="message" class="form__text-area" id="message" rows="10" placeholder="Please let me know what you wish to dicuss." maxlength="500" required></textarea>
                     <input type="submit" class="cta cta--orange form__submit" id="review-submit" value="Send" aria-label="submit-review button">
                  </div>
               </div>
           </form>
         </div>
      </div>
   </section>
{% endblock %}